<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" href="{%  static 'css\bootstrap.min.css'%}">
</head>
<body /style="background-color:mediumturquoise">
    <div class="container">
        <div class="row">
            <h2 class="alert alert-success text-center">CRUD OPERATION MODELFORM PROJECT</h2>
            {% block containt%}     
            {% endblock containt %} 
        </div>
    </div>
    <script src="{% static 'js/boostrap.min.js'%}"></script>
</body>
</html>